/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

.container {
  width: 1140px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a:hover {
  opacity: .5;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

@media (max-width: 1600px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 92%;
  }
}

.header {
  background-color: #222222;
  position: relative;
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__search, .header__button {
  border: none;
  background-color: transparent;
  outline: none;
}

.header__button:hover, .header__button:focus, .header__search:hover, .header__search:focus {
  opacity: .7;
}

.header__search:active, .header__button:active {
  opacity: .5;
}

.header__link {
  margin: 0 0 0 32px;
}

.header__button--burger {
  border: none;
  background-color: transparent;
  outline: none;
}

.header__button--burger:hover img {
  opacity: .7;
}

.header__button--burger:focus .header__navigation {
  opacity: 1;
  display: block;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .header__button--burger:focus .header__navigation {
    width: 100%;
  }
}

.header__navigation {
  text-align: left;
  display: none;
  width: 232px;
  background: #FFFFFF;
}

.header__navigation-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: bold;
  color: #000000;
  text-transform: uppercase;
  margin-top: 37px;
  margin-left: 34px;
  margin-bottom: 24px;
}

.header__navigation-item__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7D;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 37px;
  margin-left: 34px;
  margin-bottom: 24px;
}

.header__navigation-item {
  margin-top: 24px;
  margin-bottom: 24px;
}

.header__navigation-item__sub-item {
  margin-top: 12px;
  margin-left: 54px;
}

.header__navigation-item__sub-item-link {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

.header__navigation-item__sub-item-link:hover {
  color: #F16D7D;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 16px;
  }
  .header__link {
    margin: 0 0 0 25px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }
  .header__link {
    margin: 0 0 0 25px;
  }
  .header__link--mobile-hidden {
    display: none;
  }
}

.promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px;
}

.promo .promo__img {
  width: 50%;
}

@media (max-width: 768px) {
  .promo .promo__img {
    display: none;
  }
}

.promo .promo__heading-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 92px;
}

@media (max-width: 1600px) {
  .promo .promo__heading-wrapper {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 768px) {
  .promo .promo__heading-wrapper {
    padding: 0;
    min-height: 363px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promo .promo__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  border-left: 12px solid #F16D7D;
  padding-left: 16px;
}

@media (max-width: 1600px) {
  .promo .promo__heading {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .promo .promo__heading {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}

.promo .promo__sub-heading {
  display: block;
  font-size: 32px;
  line-height: 37px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1600px) {
  .promo .promo__sub-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .promo .promo__sub-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.promo .promo__sub-heading-pink {
  color: #F16D7D;
}

.categories {
  margin: 0 auto;
}

.categories .categories__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.categories .categories__item {
  width: 360px;
  min-height: 260px;
  margin-bottom: 30px;
  -webkit-background-size: cover;
          background-size: cover;
}

@media (max-width: 1600px) {
  .categories .categories__item {
    width: 32%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .categories .categories__item {
    width: 100%;
    min-height: 247px;
    margin-bottom: 32px;
  }
}

.categories .categories__item--woman {
  background-image: url(../img/categories-woman.jpg);
}

.categories .categories__item--man {
  background-image: url(../img/categories-man.jpg);
}

.categories .categories__item--kids {
  background-image: url(../img/categories-kids.jpg);
}

.categories .categories__item--accessories {
  background-image: url(../img/categories-accesories.jpg);
  width: 100%;
  /* @include tablet {
                min-height: 116px;
            }

            @include mobile {
                min-height: 111px;
            } */
}

.categories .categories__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 105px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.categories .categories__heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #F16D7D;
}

.products {
  max-width: 1140px;
  margin: 0 auto;
}

.products .products__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 96px 0 6px 0;
}

.products .products__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 48px;
  text-align: center;
  color: #9F9F9F;
}

.products .products__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1600px) {
  .products .products__list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .products .products__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products .products__item {
  position: absolute;
  max-width: 360px;
  background: #F8F8F8;
  margin-right: 20px;
  margin-bottom: 30px;
  position: relative;
}

.products .products__item:hover .products__item-btn-add,
.products .products__item:hover .products__item-overley {
  display: block;
  background: rgba(58, 56, 56, 0.86);
}

.products .products__item:hover .products__item-overley img {
  opacity: .2;
}

.products .products__item-heading {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 23px 0 12px 18px;
  text-transform: uppercase;
}

.products .products__item-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  margin: 0 18px;
  color: #5d5d5d;
}

.products .products__item-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7D;
  margin: 18px;
}

.products .products__item-overley {
  position: relative;
}

.products .products__item-btn-add {
  padding: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: none;
}

.products .products__btn-all-product {
  display: block;
  padding: 14px 38px;
  border: 1px solid #F16D7D;
  color: #F16D7D;
  margin: 48px auto 95px;
  background-color: #FFFFFF;
}

.products .products__btn-all-product:hover {
  background-color: #F16D7D;
  color: #FFFFFF;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.feature {
  background-color: #222222;
}

.feature .feature__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .feature .feature__list {
    display: block;
  }
}

.feature .feature__item {
  list-style: none;
  margin: 104px 30px;
  text-align: center;
}

@media (max-width: 1600px) {
  .feature .feature__item {
    max-width: 360px;
    padding: 48px;
    margin: 0 auto;
  }
}

.feature .feature__item-heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 28px 0 16px;
  color: white;
}

.feature .feature__item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #FFFFFF;
}

.footer {
  overflow: hidden;
}

.footer .footer__top-review {
  width: 359px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .footer .footer__top-review {
    margin: 53px auto 48px;
  }
}

.footer .footer__top-review__text {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}

.footer .footer__top {
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 448px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 1600px) {
  .footer .footer__top {
    height: 614px;
  }
}

.footer .footer__top-img {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 1600px) {
  .footer .footer__top-img {
    height: 100%;
  }
}

.footer .footer__top-img img {
  width: 100%;
  opacity: .4;
}

@media (max-width: 1600px) {
  .footer .footer__top-img img {
    min-height: 100%;
    width: auto;
  }
}

.footer .footer__top-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  z-index: 1;
}

@media (max-width: 1600px) {
  .footer .footer__top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer__top-form {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .footer .footer__top-form {
    margin-bottom: 140px;
  }
}

.footer .footer__top-form_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.footer .footer__top-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}

.footer .footer__top-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer .footer__top-input,
.footer .footer__top-btn {
  padding: 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.footer .footer__top-input {
  -webkit-border-radius: 30px 0 0 30px;
          border-radius: 30px 0 0 30px;
  border: 0 solid;
  background-color: #E1E1E1;
}

.footer .footer__top-btn {
  color: #FFFFFF;
  background-color: #F16D7D;
  -webkit-border-radius: 0 30px 30px 0;
          border-radius: 0 30px 30px 0;
  border: 0 solid;
}

.footer .footer__down {
  background-color: #222222;
}

.footer .footer__down-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 79px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .footer .footer__down-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer .footer__down-copyright {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.footer .footer__down-soc-net {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
  margin-bottom: 25px;
}

.footer .footer__down-soc-icon {
  height: 32px;
  width: 32px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px;
}

.footer .footer__down-soc-icon:hover {
  background-color: #F16D7D;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer .footer__down-soc-icon:active .footer__down-icon-pink {
  fill: #FFFFFF;
}

.registration .registration__top {
  height: 148px;
  background-color: #F1E4E6;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.registration .registration__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7D;
  padding: 59px 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .registration .registration__heading {
    text-align: center;
  }
}

.registration .registration__form fieldset {
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 35px;
  color: #B1B1B1;
  max-width: 88%;
}

@media (max-width: 768px) {
  .registration .registration__form fieldset {
    max-width: 96%;
  }
}

.registration .registration__form-label {
  margin: 0 27px 0 20px;
  position: relative;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
}

.registration .registration__form-label:after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 0;
}

.registration .registration__form-tr {
  display: none;
}

.registration .registration__form-tr:checked + .registration__form-label:after {
  background: #F16D7D;
}

.registration .registration__form legend {
  margin-bottom: 20px;
  color: #222222;
}

.registration .registration__form-your-name,
.registration .registration__form-login-details {
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 13px;
  margin-bottom: 20px;
  color: #B1B1B1;
}

.registration .registration__form-login-details__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.registration .registration__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .registration .registration__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 1600px) {
  .registration .registration__form-fieldset {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .registration .registration__form-fieldset {
    max-width: 100%;
  }
}

.registration .registration__form-btn__join {
  display: block;
  padding: 14px 38px;
  border: 1px solid #F16D7D;
  color: #F16D7D;
  margin: 48px 0 95px;
  background-color: #FFFFFF;
}

.registration .registration__form-btn__join:hover {
  background-color: #F16D7D;
  color: #FFFFFF;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.loyalty {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  width: 57%;
  color: #000000;
}

@media (max-width: 1600px) {
  .loyalty {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .loyalty {
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .loyalty {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.loyalty .loyalty__heading {
  text-transform: uppercase;
}

.loyalty .loyalty__text {
  margin: 21px 0;
}

.loyalty .loyalty__item {
  position: relative;
  list-style: none;
  margin: 0 0 16px 40px;
}

.loyalty .loyalty__item::before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  background-image: url(../img/Vector.svg);
  left: -38px;
  top: 8px;
}
/*# sourceMappingURL=style.css.map */