:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7D;
    --white: #FFFFFF
}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    display: none;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 34px;
}

.promo {
    display: flex;
    margin: 0 0 63px;
}

.promo__heading-wrapper {
    background-color: var(--pink);
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding: 0 0 0 92px;
     
}

.promo__heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid var(--dark-pink);
    padding-left: 16px ;
    
}

.promo__sub-heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.promo__sub-heading-pink {
    color: var(--dark-pink);
}

.categories__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item { 
    width: 360px;
    min-height: 260px;
    margin-bottom: 30px;
}

.categories__item--woman {
    background-image: url(../img/categories-woman.jpg);
    
}

.categories__item--man {
    background-image: url(../img/categories-man.jpg);
}

.categories__item--kids{
    background-image: url(../img/categories-kids.jpg);
}

.categories__item--accessories {
    background-image: url(../img/categories-accesories.jpg);
    width: 100%;
}

.categories__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    margin-top: 105px;
    color: var(--white);
    text-transform: uppercase;
}
.categories__heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-pink)
}

.products__heading {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 96px 0 6px 0;
}

.products__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 48px;
    text-align: center;
    color: #9F9F9F;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.products__item {
    max-width: 360px;
    background: #F8F8F8;
    margin-right: 20px;
    margin-bottom: 30px;
}
.products__item-heading {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 23px 0 12px 18px;
    text-transform: uppercase;
}
.products__item-text{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    margin: 0 18px;
    color: #5d5d5d;
}
.products__item-price {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-pink);
    margin: 18px;
}
.btn__add {
    display: none;
}
.btn__all-product {
    display: block;
    padding: 14px 38px;
    border: 1px solid var(--dark-pink);
    color: var(--dark-pink);
    margin: 48px auto 95px;
}
.feature {
    background-color: var(--dark-blue);
    
}
.feature__list {
    display: flex;
    justify-content: space-between;
}
.feature__item {
    
    margin: 104px 30px ;
    list-style: none;
    text-align:center;
}
.feature__item-heading {
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 28px 0 16px;
    color: var(--white);
}
.feature__item-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    color: var(--white); 
}

.footer__top {
    position: relative;
    justify-content: space-betweengit ;
    min-height: 448px;
    display: flex;
    align-items: center;
}
.review {
    text-align: center;
    width: 359px;
}
.review__text {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
}
.footer__top-img{
    display: block;
    position: absolute;
    opacity: .4;
}
.footer__down {
    background-color: var(--dark-blue)
}
.footer__down-list {
    display: flex;
    justify-content: space-around;
    min-height: 79px;
    align-items: center;
}
.copyright {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
        color: var(--white);
    
}
.soc-net {
    display: flex;
}
.soc-icon {
    height: 32px;
    width: 32px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}