@import './variables';
@import './mixin';
@import './reset';
@import './general';
@import './blocks/header';
@import './blocks/promo';
@import './blocks/categories';
@import './blocks/products';
@import './blocks/feature';
@import './blocks/footer';
@import './blocks/registration';
@import './blocks/loyalty';