.loyalty {
    @include font(24px,29px,300);
    
    width: 57%;
    color: $black;

    
    @include tablet {
         width: 50%;
    }

    @include mobile {
        width: 100%;
    }
    @include tablet {
        @include font(16px,19px,300);
   }
    

    .loyalty__heading {
        text-transform: uppercase;

       
    }

    .loyalty__text {
        margin: 21px 0;
    }

    .loyalty__item {
        position: relative;
        list-style: none;
        margin: 0 0 16px 40px;
    }

    .loyalty__item::before {
        content: '';
        width: 20px;
        height: 16px;
        position: absolute;
        background-image: url(../img/Vector.svg);
        left: -38px;
        top: 8px
    }
}