.products {
    max-width: 1140px;
    margin: 0 auto;
    .products__heading {
        @include font(30px,36px,400);
        
        text-align: center;
        margin: 96px 0 6px 0;
    }

    .products__text {
        @include font(14px,17px,400);
        
        margin-bottom: 48px;
        text-align: center;
        color: #9F9F9F;
    }

    .products__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet {
            justify-content: space-around;
        }

        @include mobile {
            justify-content: center;
        }
    }

    .products__item {
        position: absolute;
        max-width: 360px;
        background: $lite-gray;
        margin-right: 11px;
        margin-bottom: 30px;
        position: relative;

        &:hover .products__item-btn-add,
        &:hover .products__item-overley {
            display: block;
            background: rgba(58, 56, 56, 0.86);
        }

        &:hover .products__item-overley img {
            opacity: .2;
        }
    }

    .products__item-heading {
        @include font(13px,16px,400);
        
        margin: 23px 0 12px 18px;
        text-transform: uppercase;
    }

    .products__item-text {
        @include font(14px,17px,300);
        
        margin: 0 18px;
        color: #5d5d5d;
    }

    .products__item-price {
        @include font(16px,19px,400);
        
        color: $dark-pink;
        margin: 18px;
    }

    .products__item-overley {
        position: relative;
    }

    .products__item-btn-add {
        padding: 13px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $white;
        color: $white;
        display: none;
    }

    .products__btn-all-product {
        display: block;
        padding: 14px 38px;
        border: 1px solid $dark-pink;
        color: $dark-pink;
        margin: 48px auto 95px;
        background-color: $white;
    }

    .products__btn-all-product:hover {
        background-color: $dark-pink;
        color: $white;
        transition: background 0.5s;
    }
}